.btn
{
    display: flex;
    gap: 10px;
}
p{
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button
{
    width: 100px;
    height: 30px;
    font-size: 20px;
    color: white;
    background-color: black;
    border-radius: 10px;
    
}